/*
    @package monoquetheme
*/

.monoque-sidebar-preview,
.monoque-general-form {
    display: inline-block;
    float: left;
}

.monoque-sidebar-preview {
    width: 280px;
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

.monoque-sidebar {
    display: block;
    text-align: center;
}

h1.monoque-username,
h2.monoque-description {
    font-weight: 100;
    color: #fff;
}

h1.monoque-username {
    font-size: 24px;
    margin: 0 0 10px;
}

h2.monoque-description {
    font-size: 13px;
    margin: 0 0 20px;
}

